.footer {
    display: flex;
    background: #EE4248;
    height: 64px;

    &__text {
        width: 100%;
        padding: 21px 529px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */
        color: #FFFFFF;
    }
}